@import url("status.css");

.memberWrapper {
  display: flex;
  align-items: center;
}

.member {
  margin-right: 2vw;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.avatarImg {
  max-width: 25vmax;
  padding: 3vmax;
}

.username {
  font-weight: bold;
  font-size: 3vmax;
  color: rgb(18, 17, 17);
  margin: 0;
}

#infoWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hearts {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.heartImg {
  max-width: 8vmax;
}

.heartButton {
  margin: 0 0.3vmax;
  border: none;
  background-color: transparent;
  padding: unset;
  cursor: pointer;
}

#editModal {
  position: absolute;
  height: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 3vmax;
  background-color: aqua;
  border-radius: 2vw;
  border: 3px solid black;
}

.modalInput {
  display: flex;
  flex-direction: column;
}

#modalClose {
  position: absolute;
  top: 0;
  right: 0;
  margin: 2vmax;
  transform: rotate(15deg);
}

.closeButton {
  width: 8vmax;
}

@media (orientation: landscape) {
  .memberWrapper {
    flex-direction: row;
    height: 100%;
    padding: 0 5vw;
  }
}

@media (orientation: portrait) {
  .memberWrapper {
    flex-direction: column;
    padding: 10vw;
  }

  .hearts {
    margin-top: 2vmax;
  }

  #modalClose {
    top: unset;
    bottom: 0;
  }
}