@import url("status.css");

.memberWrapper {
  display: flex;
  align-items: center;
}

.member {
  margin-right: 2vw;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.avatarImg {
  max-width: 25vmax;
  padding: 3vmax;
}

.username {
  font-weight: bold;
  font-size: 3vmax;
  color: rgb(18, 17, 17);
  margin: 0;
}

#infoWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heartsArray {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.heartButton {
  margin: 0 0.3vmax;
}

.tiltButton:active,
.tiltButton:focus {
  transform: rotate(20deg);
}

.heartImg {
  max-width: 8vmax;
}

#editModal {
  position: absolute;
  height: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 3vmax;
  background-color: aqua;
  border-radius: 2vw;
  border: 3px solid black;
}

.modalInputStack {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.customFileUpload {
  border: 0.3vmax solid rgb(0, 195, 255);
  background-color: rgb(0, 217, 255);
  border-radius: 1vmax;
  display: inline-block;
  padding: 1vmax 3vmax;
  cursor: pointer;
  font-size: 3vmax;
}

input[type="file"] {
  display: none;
}

.usernameInput {
  border: none;
  background: none;
  font-size: 3vmax;
  border-bottom: 0.3vmax solid rgb(0, 195, 255);
  max-width: 30vmax;
}

.saveImage {
  width: 12vmax;
}

.imageButton {
  border: none;
  background-color: transparent;
  padding: unset;
  cursor: pointer;
}

#modalClose {
  position: absolute;
  top: 0;
  right: 0;
  margin: 2vmax;
  transform: rotate(15deg);
}

.closeButtonImg,
.deleteButtonImg {
  width: 8vmax;
}

.backButtonIcon {
  width: 5vmax;
  visibility: hidden;
}

.backButton {
  position: absolute;
  top: 0;
  left: 0;
  margin: 2vmax;
}

.deleteButtonImg {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 2vmax;
  transform: rotate(-15deg);
}

.deleteAllHeartsButton {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 2vmax;
}

@media (orientation: landscape) {
  .memberWrapper {
    flex-direction: row;
    height: 100%;
    padding: 0 5vw;
  }
}

@media (orientation: portrait) {
  .memberWrapper {
    flex-direction: column;
    padding: 10vw;
  }

  .hearts-array {
    margin-top: 2vmax;
  }

  .modalInputStack {
    padding-bottom: 10vh;
  }

  #modalClose {
    top: unset;
    bottom: 0;
  }

  .deleteButtonImg {
    right: unset;
    left: 0;
  }

  .username {
    display: none;
  }
}