body {
  background-color: #4afad4;
}

.membersWrapper {
  margin: 0 4vmax;
}

.member {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.avatarImg {
  max-width: 5vmax;
  padding: 3vmax;
}

.username {
  font-weight: bold;
  font-size: 3vmax;
  color: rgb(18, 17, 17);
  margin: 0;
}

.addMemberButton {
  position: fixed;
  bottom: 0;
  right: 0;
}

.addMemberButtonIcon {
  max-width: 10vmax;
  padding: 3vmax;
}

.backButton {
  position: absolute;
  top: 0;
  left: 0;
  margin: 2vmax;
}

.backButtonIcon {
  width: 5vmax;
  visibility: hidden;
}