body {
  background-color: rgb(250, 215, 220);
  font-family: 'Open Sans', sans-serif;
}

.memberWrapper {
  margin: 10px 0 20px;
  display: flex;
  align-items: center;
}

.member {
  margin-right: 10px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.avatarImg {
  max-width: 50px;
}

.username {
  font-weight: bold;
  color: rgb(18, 17, 17);
  margin: 0;
}

.heartImg {
  max-width: 30px;
}

.heartButton {
  border: none;
  background-color: transparent;
  padding: unset;
  cursor: pointer;
}

a {
  text-decoration: none;
}