.memberWrapper {
  display: flex;
  align-items: center;
}

.member {
  margin-right: 2vw;
  align-items: center;
  display: flex;
  flex-direction: column;
}



.heartImg {
  max-width: 10vw;
}

.heartButton {
  border: none;
  background-color: transparent;
  padding: unset;
  cursor: pointer;
}
