<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/members.css">
  </head>
  <body>
    <div id="wrapper">
      <section class="sec_include">
        <div class="container">
            <div class="col-xs-12 col-sm-4 col-md-4 adj_text">
              <h3>Members list</h3>
              <% members.map(member => { %>
                <div>
                  <a href="<%=`/members/${member._id}`%>"><%=member.username%></a>
                </div>
              <% }) %>
              <a href="<%=`/members/add`%>">Lägg till</a>
            </div>
        </div>
      </section>
    </div>
  </body>
</html>
