<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/member.css">
  </head>
  <body>
    <div id="wrapper">
      <section class="sec_include">
        <div class="container">
            <div class="">
              <h3>Member</h3>
                <form name="save-member" action="/members/save-member" method="post">
                  <img class="avatarImg" src="<%=member ? member.avatar : ''%>" />
                  <input type="file" id="avatar" name="avatar">
                  Namn: <input type="text" name="username" id="username" value="<%=member ? member.username : ''%>" /><br/>
                  <input type="hidden" name="id" id="id" value="<%=member ? member._id : ''%>" />
                  <input type="submit" value="Spara" class="" />
                </form>
            </div>
        </div>
      </section>
    </div>
  </body>
</html>
