<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="css/status.css">
  </head>
  <body>
    <div>
      <section class="sec_include">
        <div class="container">
            <div class="">
              <% members.map((member) => { %>
                <div>
                  <form  class="memberWrapper" action="" method="post" id="myForm">
                    <div class="member">
                      <a href="<%=`/members/${member._id}`%>">
                        <img class="avatarImg" src="images/girl.png" />
                        <p class="username"><%=member.username%></p>
                      </a>
                    </div>
                    <div class="hearts">
                    <% for(let i = 0; i < member.hearts; i++) { %>
                        <img class="heartImg" src="images/pink-heart.png" />
                    <% } %>
                    <button type="submit" class="heartButton">
                      <img class="heartImg" src="images/pink-hearts.png" />
                    </button>
                    </div>
                    <input type="hidden" name="id" value="<%= member._id %>" />
                    <input type="hidden" name="hearts" value="<%= member.hearts %>" />
                  </form>
                </div>
              <% }) %>
            </div>
        </div>
      </section>
    </div>
  </body>
</html>
